<!-- EJS的主體本身也是html -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <% for (let i = 0 ; i < 10 ; i++) { %>
    <h1><%- i %></h1>
    <% } %> <%- include("partials/footer") %>
  </body>
</html>
