<!-- EJS的主體本身也是html -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form action="/example" method="GET">
      <label for="name">名稱:</label>
      <input type="text" id="name" name="name" />
      <label for="age">年齡:</label>
      <input type="number" id="age" name="age" />
      <button>交出表單</button>
    </form>
  </body>
</html>
