<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>恭喜!!資料已經寄送到伺服器端了!</h1>
    <h3>以下是您提供的資料:</h3>
    <p>您的姓名是<%= name %></p>
    <p>您的年齡是<%= age %></p>
  </body>
</html>
